<header class="header">
  <div class="logo">Logo</div>
  <div class="auth-links">
    <a routerLink="/inscriptiobn"><strong>S'inscrire</strong></a>
    <a routerLink="/connexion">Se connecter</a>
  </div>
</header>

<main class="main-content">
  <h1>Inscription à GenioService</h1>
  <form class="form">
    <input type="email" placeholder="Email" />
    <input type="password" placeholder="Password" />
    <button type="submit">S'enregistrer</button>
    <p>En créant un compte, vous acceptez nos conditions d'utilisation et notre politique de confidentialité.</p>
  </form>
</main>
