.auth-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement */
  align-items: center;
  padding: 60px 20px 60px; /* un peu de marge haut/bas */
  box-sizing: border-box;
  min-height: calc(100vh - 160px); /* enlevé header + footer */
}

.auth-container {
  max-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
  font-weight: 400;
}

/* === Formulaire === */
.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-container input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-container button {
  background-color: #333;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.auth-container button:hover {
  background-color: #555;
}


.login-link {
  margin-top: 10px;
  display: inline-block;
  color: #333;
  text-decoration: underline;
}


@media (max-width: 500px) {
  .auth-container {
    max-width: 90%;
  }
}
