main, .auth-page, .page-contents {
  padding-top: 115px;
}


.btn.btn-primary {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background-color: #1f3c88;
  border: 1px solid #1f3c88;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}
.btn.btn-primary:hover {
  background-color: #0d47a1;
}

.actions-par-role {
  display: flex;
  gap: 1.5rem;
  font-size: 1.2rem;
}
.actions-par-role a {
  text-decoration: none;
  font-weight: 500;
  color: #1f3c88;
}
.actions-par-role .active-link {
  font-weight: bold;
  border-bottom: 2px solid #1f3c88;
}
.action-buttons {
  display: flex;
  gap: 12px;
}

.actions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.action-buttons .btn.selected-btn {
  background-color: #0a2c70;
  border-color: #0a2c70;
}

.info-btn {
  background: none;
  border: none;
  font-size: 1.4rem;
  color: #1f3c88;
  cursor: pointer;
  margin-left: 10px;
}
.info-btn:hover {
  color: #0d47a1;
}
h3.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f3c88;
  margin: 0;
}
