<footer class="footer">
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-logo">
        <a routerLink="/"><strong>Logo</strong></a>
      </div>
      <div class="footer-links-center">
        <a href="/plan-du-site">Plan du site</a>
        <a href="/a-propos">À propos</a>
        <a href="/contact">Contact</a>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-left">
        <small>© 2025 GenioService. Tous droits réservés</small>
      </div>
      <div class="footer-right">
        <a href="/donnees-personnelles">Données personnelles</a>
        <a href="/mentions-legales">Mentions légales</a>
      </div>
    </div>
  </div>
</footer>
